<!DOCTYPE HTML>
<html>
<head>
    <title>Pooled Admin Panel Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/Dashboard/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Dashboard/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/Dashboard/css/morris.css" type="text/css" />
    <link href="~/Content/Dashboard/css/font-awesome.css" rel="stylesheet">
    <script src="~/Content/Dashboard/js/jquery-2.1.4.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/Dashboard/css/icon-font.min.css" type='text/css' />
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/css/table-style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Dashboard/css/basictable.css" />
    <script type="text/javascript" src="~/Content/Dashboard/js/jquery.basictable.min.js"></script>

</head>

<body>


    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="mother-grid-inner">
                @RenderBody()
            </div>
        </div>
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo1">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
            </header>
            <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
            <div class="menu">
                <ul id="menu">
                    <li>
                        <a href="/dashboard">
                            <i class="fa fa-tachometer"></i> <span>Dashboard</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>   
                    <li id="menu-academico">
                        <a href="#">
                            <i class="fa fa-users" aria-hidden="true">
                            </i><span>Manage Users</span> 
                            <span class="fa fa-angle-right" style="float: right"></span>
                            <div class="clearfix"></div>
                        </a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href="/users">Users</a></li>
                            <li id="menu-academico-avaliacoes"><a href="/users/add">Add New User</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-picture-o" aria-hidden="true"></i><span>Manage Events</span>
                            <span class="fa fa-angle-right" style="float: right"></span>
                            <div class="clearfix"></div>
                        </a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href="/event">Events</a></li>
                            <li id="menu-academico-avaliacoes"><a href="/event/add">Add New Event</a></li>
                        </ul>
                    </li>
                    <li id="menu-academico">
                        <a href="#">
                            <i class="fa fa-bar-chart"></i><span>Manage Categories</span>
                            <span class="fa fa-angle-right" style="float: right"></span>
                            <div class="clearfix"></div>
                        </a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href="/category">Category</a></li>
                            <li id="menu-academico-avaliacoes"><a href="/category/add">Add New Category</a></li>
                        </ul>
                    </li>
                    @*<li id="menu-academico">
                        <a href="#">
                            <i class="fa fa-list-ul" aria-hidden="true"></i><span>
                                Short
                                Codes
                            </span> <span class="fa fa-angle-right" style="float: right"></span>
                            <div class="clearfix"></div>
                        </a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href="icons.html">Icons</a></li>
                            <li id="menu-academico-avaliacoes"><a href="typography.html">Typography</a></li>
                            <li id="menu-academico-avaliacoes"><a href="faq.html">Faq</a></li>
                        </ul>
                    </li>
                    <li id="menu-academico">
                        <a href="errorpage.html">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span>Error Page</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li id="menu-academico">
                        <a href="#">
                            <i class="fa fa-cogs" aria-hidden="true"></i><span>
                                UI
                                Components
                            </span> <span class="fa fa-angle-right" style="float: right"></span>
                            <div class="clearfix"></div>
                        </a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href="button.html">Buttons</a></li>
                            <li id="menu-academico-avaliacoes"><a href="grid.html">Grids</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="tabels.html">
                            <i class="fa fa-table"></i> <span>Tables</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li>
                        <a href="maps.html">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> <span>Maps</span>
                            <div class="clearfix"></div>
                        </a>
                    </li>
                    <li id="menu-academico">
                        <a href="#">
                            <i class="fa fa-file-text-o"></i> <span>Pages</span> <span class="fa fa-angle-right" style="float: right"></span>
                            <div class="clearfix"></div>
                        </a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-boletim"><a href="calendar.html">Calendar</a></li>
                            <li id="menu-academico-avaliacoes"><a href="signin.html">Sign In</a></li>
                            <li id="menu-academico-avaliacoes"><a href="signup.html">Sign Up</a></li>


                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-check-square-o nav_icon"></i><span>Forms</span> <span class="fa fa-angle-right" style="float: right"></span>
                            <div class="clearfix"></div>
                        </a>
                        <ul>
                            <li><a href="input.html"> Input</a></li>
                            <li><a href="validation.html">Validation</a></li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <script src="~/Content/Dashboard/js/scripts.js"></script>
    <script src="~/Content/Dashboard/js/bootstrap.min.js"></script>
</body>
</html>