<!DOCTYPE HTML>
<html>
<head>
    <title>Pooled Admin Panel Category Flat Bootstrap Responsive Web Template | Sign Up :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Content/Dashboard/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/Dashboard/css/style.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/Content/Dashboard/css/morris.css" type="text/css" />
    <link href="~/Content/Dashboard/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Dashboard/css/jquery-ui.css">
    <script src="~/Content/Dashboard/js/jquery-2.1.4.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/Dashboard/css/icon-font.min.css" type='text/css' />
</head>
<body>
    @RenderBody()
</body>
</html>