@model ksc.Models.ActivityWinner

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Event's Users</h2>
<div class="w3l-table-info">
    <table id="table">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ActivityUsers)
             {
            <tr>
                <td>@item.user_id</td>
                <td>@Html.ActionLink("Mark Winner", "MarkWinner", new { userId = item.user_id, activityId = item.activity_id })</td>
                @*<td><a href="/Event/MarkWinner/@item.user_id/@item.activity_id">Mark Winner</a></td>*@
            </tr>
             }
        </tbody>
    </table>
</div>