@model ksc.Models.ActivityUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Event's Users</h2>
<div class="w3l-table-info">
    <table id="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ActivityUsers)
            {
                <tr>
                    <td>@item</td>
                </tr>
            }
        </tbody>
    </table>
</div>