@model ksc.Models.ActivityUser

@{
    ViewBag.Title = "MyEvents";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>MyEvents</h2>
<div class="w3l-table-info">
    <table id="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.userSubscription)
            {
                <tr>
                    <td>@item.Category.name</td>
                    <td>
                        @Html.ActionLink("UnSubscribe", "UnSubscribe", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>