
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

<div class="main-wthree">
    <div class="container">
        <div class="sin-w3-agile">
            <h2>Sign Up</h2>
            <form  action="/Home/Register" method="POST">>
                <div class="username">
                    <span class="username">Username:</span>
                    <input type="text" required name="name" class="form-control" />
                    <div class="clearfix"></div>
                </div>
                <div class="username">
                    <span class="username">Email:</span>
                    <input type="email" required name="email" class="form-control" />
                    <div class="clearfix"></div>
                </div>
                <div class="password-agileits">
                    <span class="username">Password:</span>
                    <input type="password" required name="password" class="form-control" />
                    <div class="clearfix"></div>
                </div>
                <div class="password-agileits">
                    <span class="username">Confirm Password:</span>
                    <input type="password" required name="repassword" class="form-control" />
                    <div class="clearfix"></div>
                </div>
                <div class="login-w3">
                    <input type="submit" class="login" value="Sign Up">
                </div>
                <div class="clearfix"></div>
            </form>
            <div class="back">
                <a href="index.html">Back to home</a>
            </div>
        </div>
    </div>
</div>

